{% extends "base.html" %}
{% block content %}
<h1>Vegaaniset letut</h1>
<p>
    <a href="#" class="btn btn-default">Muokkaa</a>
    <button class="btn btn-danger">Poista</button> 
</p>

<ul>
    <li><strong>Ruokalaji: </strong> Jälkiruoka</li>
    <li><strong>Erityisruokavalio: </strong>Maidoton, munaton</li>
</ul>

<h2>Raaka-aineet</h2>
<h5> 4 annosta</h5>
<ul>
    <li>7 dl soijamaitoa tai muuta kasvimaitoa</li>
    <li>4 dl vehnäjauhoja</li>
    <li>2 rkl perunajauhoja</li>
    <li>vaniljasokeria</li>
    <li>ripaus suolaa</li>    
</ul>

<h2>Ohjeet</h2>

<p>Sekoita aineet ja paista letut öljytyllä pannulla.</p>
<br>
<footer><strong>Lisätty: </strong>1.8.2015</footer>
{% endblock %}