{% extends "base.html" %}
{% block content %}

<h1>Muokkaa reseptiä Vegaaniset letut</h1>
<form>
    <div class="form-group">
        <label>Ruokalaji</label>
        <input class="form-control" value="Vegaaniset letut" type="text">
    </div>
    <div class="form-group">
        <label>Luokka</label><br>
        <select class="selectpicker">
            <option>Alkuruoat</option>
            <option>Pääruoat</option>
            <option>Jälkiruoat</option>
            <option>Keitot</option>
            <option>Salaatit</option>
            <option>Kastikkeet</option>
        </select>
    </div>
    <div class="form-group">
        <label>Lähde</label>
        <input class="form-control" value="http://www.lily.fi/blogit/pieni-koti/vegaaniset-letut" type="text">
    </div>
    <div class="form-group">
        <label>Kuvan lähde</label>
        <input class="form-control" value="http://www.lily.fi/sites/lily/files/styles/wide/public/user/8600/2014/01/kuva-007.jpg" type="text">
    </div>
    <div class="form-group">
        <label>Annosmäärä</label>
        <input class="form-control" value="4" type="text">
    </div>   
    <div class="form-group">
        <label>Raaka-aineet</label>
        <textarea class="form-control">7 dl soijamaitoa, 4 dl vehnäjauhoja, 2 rkl perunajauhoja, vaniljasokeria, ripaus suolaa </textarea>
    </div>
    <div class="form-group">
        <label>Ohjeet</label>
        <textarea class="form-control">Sekoita aineet ja paista letut öljyssä pannulla.</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>

{% endblock %}