{% extends "base.html" %}
{% block content %}
<h1>Vegaaniset letut <small>Jälkiruoat</small></h1>
<p>
    <a href="#" class="btn btn-default">Muokkaa</a>
    <button class="btn btn-danger">Poista</button> 
</p>

<img alt="Vegaaniset letut" width="300" class="img-thumbnail" src="http://www.lily.fi/sites/lily/files/styles/wide/public/user/8600/2014/01/kuva-007.jpg">

<h2>Ainesosat</h2>
<h5> 4 annosta</h5>
<ul>
    <li>7 dl soijamaitoa</li>
    <li>4 dl vehnäjauhoja</li>
    <li>2 rkl perunajauhoja</li>
    <li>vaniljasokeria</li>
    <li>ripaus suolaa</li>    
</ul>

<h2>Ohjeet</h2>

<ol>
<li>Sekoita aineet. </li>
<li>Paista letut öljyssä pannulla.</li>
</ol>
<br>
<footer><strong>Lähde: </strong> <a href="http://www.lily.fi/blogit/pieni-koti/vegaaniset-letut">http://www.lily.fi/blogit/pieni-koti/vegaaniset-letut</a><br>
    <strong>Lisätty: </strong>1.8.2015</footer>
{% endblock %}