{% extends "base.html" %}
{% block content %}
<h1>E-keittokirja</h1>

<p>
    <a href="#" class="btn btn-default">Lisää resepti</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Ruokalaji</th>
            <th>Luokka</th>
            <th>Lähde</th>
            <th>Lisäyspäivä</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><a href="#">Vegaaniset letut</a></td>
            <td>Jälkiruoat</td>
            <td><a href="http://www.lily.fi/blogit/pieni-koti/vegaaniset-letut">http://www.lily.fi/blogit/pieni-koti/vegaaniset-letut</a></td>
            <td>1.8.2015</td>
            <td><a class='btn btn-default btn-sm btn-info' href='#'>Muokkaa</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}