{% extends "base.html" %}
{% block content %}
<h1>E-keittokirja</h1>

<p>
    <a href="{{base_path}}/recipe/new" class="btn btn-default">Lisää resepti</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Ruokalaji</th>
            <th>Luokka</th>
            <th>Lähde</th>
            <th>Lisätty</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{base_path}}/recipe/{{recipe.id}}">{{recipe.ruokalaji}}</a></td>
            <td>{{recipe.luokka}}</td>
            <td><a href="{{recipe.lahde}}">{{recipe.lahde}}</a></td>
            <td>{{recipe.lisatty}}</td>
            <td><a class='btn btn-default btn-sm btn-info' href='{{base_path}}/recipe/{{recipe.id}}/edit'>Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}