{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>E-keittokirja</h1>
<h2>Reseptit</h2>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}

{% if user_logged_in %}
{{forms.add_button("#{base_path}/recipe/new", "resepti")}}
{% endif %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Ruokalaji</th>
            <th>Luokka</th>
            <th>Lähde</th>
            <th>Lisätty</th>
        </tr>
    </thead>

    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{base_path}}/recipe/{{recipe.id}}">{{recipe.ruokalaji}}</a></td>
            <td>{{recipe.luokka}}</td>
            <td><a href="{{recipe.lahde}}">{{recipe.lahde}}</a></td>
            <td>{{recipe.lisatty}}</td>
            {% if user_logged_in %}
            <td>{{forms.list_edit_button("#{base_path}/recipe/#{recipe.id}/edit")}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}