{% extends "base.html" %}
{% block content %}

<h1>Lisää uusi resepti</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/recipe">
    <div class="form-group">
        <label>Ruokalaji</label>
        <input name="ruokalaji" class="form-control" type="text" value="{{attributes.ruokalaji}}">
    </div>

    <div class="form-group">
        <label>Luokka</label><br>
        <select class="form-control" name="luokka">
            <option>Valitse...</option>
            <option value="Alkuruoat">Alkuruoat</option>
            <option value="Pääruoat">Pääruoat</option>
            <option value="Jälkiruoat">Jälkiruoat</option>
            <option value="Keitot">Keitot</option>
            <option value="Salaatit">Salaatit</option>
            <option value="Lisukkeet">Lisukkeet</option>           
        </select>
    </div>

    <div class="form-group">
        <label>Annosmäärä</label>
        <input name="annosmaara" class="form-control" type="text" value="{{attributes.annosmaara}}">
    </div>

    <h3>Ainesosat</h3>
    <div class="form-group">
        <label>Määrä</label>
        <input name="maara" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Raaka-aine</label>
        <select class="form-control" name="raaka_aine">
            {% for aine in aineet %}
            <option value="{{aine.nimi}}">{{aine.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <h3>Lähteet</h3>

    <div class="form-group">
        <label>Lähde</label>
        <input name="lahde" class="form-control" type="text" value="{{attributes.lahde}}">
    </div>

    <div class="form-group">
        <label>Kuvan lähde</label>
        <input name="kuva" class="form-control" type="text" value="{{attributes.kuva}}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}