{% extends "base.html" %}
{% block content %}

<h1>Lisää uusi resepti</h1>

<form method="post" action="{{base_path}}/recipe">
    <div class="form-group">
        <label>Ruokalaji</label>
        <input name="ruokalaji" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Luokka</label><br>
        <select name="luokka">
            <option>Valitse...</option>
            <option value="Alkuruoat">Alkuruoat</option>
            <option value="Pääruoat">Pääruoat</option>
            <option value="Jälkiruoat">Jälkiruoat</option>
            <option value="Keitot">Keitot</option>
            <option value="Salaatit">Salaatit</option>
            <option value="Lisukkeet">Lisukkeet</option>
        </select>
    </div>

    <div class="form-group">
        <label>Annosmäärä</label>
        <input name="annosmaara" class="form-control" type="text">
    </div>

    <label>Ainesosat</label>
    <div class="form-group container-fluid">

        <p>Määrä, ainesosa</p>
        <input name="maara1" class="col-lg-1" type="text">
        <input name="ainesosa1" class="col-lg-2" type="text">
        <br><br>
        <input name="maara2" class="col-xs-1" type="text">
        <input name="ainesosa2" class="col-xs-2" type="text">
        <br><br>
        <input name="maara3" class="col-lg-1" type="text">
        <input name="ainesosa3" class="col-lg-2" type="text">
        <br><br>
        <input name="maara4" class="col-lg-1" type="text">
        <input name="ainesosa4" class="col-lg-2" type="text">
        <br><br>
        <input name="maara5" class="col-lg-1" type="text">
        <input name="ainesosa5" class="col-lg-2" type="text">
    </div>

    <div class="form-group">
        <label>Ohjeet</label>
        <input name="ohje1" class="form-control" type="text">
        <input name="ohje2" class="form-control" type="text">
        <input name="ohje3" class="form-control" type="text">
        <input name="ohje4" class="form-control" type="text">
        <input name="ohje5" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Lähde</label>
        <input name="lahde" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Kuvan lähde</label>
        <input name="kuva" class="form-control" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}