{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{recipe.ruokalaji}}<small> {{recipe.luokka}}</small></h1>

{% if user_logged_in %}
{{forms.edit_button("#{base_path}/recipe/#{recipe.id}/edit")}}
<a href="{{base_path}}/recipe/{{recipe.id}}/recipe_ingredient" class="btn btn-default">Lisää ainesosa</a>

{{forms.destroy_button("#{base_path}/recipe/#{recipe.id}/destroy")}}
{% endif %}
<br>


<img alt="{{recipe.ruokalaji}}" width="300" height="200" class="img-thumbnail" src="{{recipe.kuva}}">

<h2>Ainesosat</h2>
<h5> {{recipe.annosmaara}} 
    {% if recipe.annosmaara == 1 %} annos
    {% else %} annosta
    {% endif %}</h5>

<ul>
    {% for ainesosa in ainesosat %}
    <li><strong>{{ainesosa.maara}}</strong> {{ainesosa.raaka_aine}}a</li>  
    {% endfor %}
</ul>

<h2>Ohjeet</h2>

<ol>
    <li></li>
</ol>
<br>
<footer><strong>Lähde: </strong> <a href="{{recipe.lahde}}">{{recipe.lahde}}</a><br>
    <strong>Lisätty: </strong>{{recipe.lisatty}}</footer>
{% endblock %}