{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>E-keittokirja</h1>
<h2>Raaka-aineet</h2>

{% if message %}
<p class="alert alert-success">{{message}}</p>
{% endif %}

{% if user_logged_in %}
{{forms.add_button("#{base_path}/ingredient/new", "raaka-aine")}}
{% endif %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Energiaa</th>
            <th>Hiilihydraatteja</th>
            <th>Proteiineja</th>
            <th>Rasvaa</th>
        </tr>
    </thead>

    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td><a href="{{base_path}}/ingredient/{{ingredient.nimi}}">{{ingredient.nimi}}</a></td>
            <td>{{ingredient.energiaa}}</td>
            <td>{{ingredient.hiilihydraatteja}}</td>
            <td>{{ingredient.proteiineja}}</td>
            <td>{{ingredient.rasvaa}}</td>
            {% if user_logged_in %}
            <td>{{forms.list_edit_button("#{base_path}/ingredient/#{ingredient.nimi}/edit")}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}